In [1]:
name='harsh' #variable decalration
age=30  #no need of int

In [2]:
print(name)
print(type(age))
print(type(name))

harsh
<class 'int'>
<class 'str'>

In [21]:
l=[23,4,5,6,'hello']   #list 
# declared in []
print(l)
#List is mutable

[23, 4, 5, 6, 'hello']

In [22]:
#mutablity of list
l[3]=2
print(l)

[23, 4, 5, 2, 'hello']

In [23]:
t=('heelo',1,2,3,4,5,6)  #tuple #declared in curly
type(t)   #tuple is immutable
# t[3]=2 not possible it's immutable

tuple

In [24]:
# dictionary # multiple value in single variable with respect ot keys 
#declared in curly braces
d={ 'name':"harsh",'age':30,'email':"harshu@gmail.com"}
print(d['name'])
print(d['email'])
#dictionary is mutable

harsh
harshu@gmail.com

In [26]:
l

[23, 4, 5, 2, 'hello']

In [27]:
l.append('ole')     # add new value
#l.insert  : to insert new value
#l.remove  : to remove the values

In [8]:
l

[23, 4, 5, 6, 'hello', 'ole']

In [9]:
l.insert(1,3)  #insert at specified location

In [10]:
l

[23, 3, 4, 5, 6, 'hello', 'ole']

In [11]:
l.remove(3)   # remove a value #tuple don't support these fxn

In [12]:
l

[23, 4, 5, 6, 'hello', 'ole']

In [13]:
lt=[4,5,6,[56,78,90],['bipul','pavan']]
lt

[4, 5, 6, [56, 78, 90], ['bipul', 'pavan']]

In [14]:
lt[3].remove(78)

In [15]:
lt

[4, 5, 6, [56, 90], ['bipul', 'pavan']]

In [16]:
lt[4].append('harsh')

In [17]:
lt

[4, 5, 6, [56, 90], ['bipul', 'pavan', 'harsh']]

In [18]:
len(lt)   #lenth

5

In [19]:
len(lt[4])

3

In [20]:
d

{'name': 'harsh', 'age': 30, 'email': 'harshu@gmail.com'}

In [21]:
dt={(1,2,3):'hello', (2,2,3):12, 23:[3,4,5], 'bipul':(3,4,5) }   
 #in dictionary keys should be immutable so we can't take list as key

In [22]:
dt[(1,2,3)]

'hello'

In [23]:
dt.keys()

dict_keys([(1, 2, 3), (2, 2, 3), 23, 'bipul'])

In [24]:
dt.values()

dict_values(['hello', 12, [3, 4, 5], (3, 4, 5)])

In [25]:
#can't change the dictionary keys
dt[23]=[33,44,55]  #changing the dictionay values

In [26]:
dt[(1,2,3)]='hi' # changing the dictionary vlaues
dt

{(1, 2, 3): 'hi', (2, 2, 3): 12, 23: [33, 44, 55], 'bipul': (3, 4, 5)}

In [27]:
dt['name']='rahul' #adding new valuees
dt

{(1, 2, 3): 'hi',
 (2, 2, 3): 12,
 23: [33, 44, 55],
 'bipul': (3, 4, 5),
 'name': 'rahul'}

In [28]:
d.update(dt)
d

{'name': 'rahul',
 'age': 30,
 'email': 'harshu@gmail.com',
 (1, 2, 3): 'hi',
 (2, 2, 3): 12,
 23: [33, 44, 55],
 'bipul': (3, 4, 5)}

In [29]:
del(dt['name'])      # deleting values from dictionary
dt

{(1, 2, 3): 'hi', (2, 2, 3): 12, 23: [33, 44, 55], 'bipul': (3, 4, 5)}

In [30]:
# we can't duplicate the keys in dictionary VALUES MAY bE SAME

In [31]:
dt.clear()   # clearing dictionary values

In [28]:
del(dt)   #deleting whole dictionary

NameError: name 'dt' is not defined

In [29]:
l

[23, 4, 5, 2, 'hello', 'ole']

In [36]:
l[1:8]    # learn slcing again and agin

[4, 5, 2, 'hello', 'ole']

In [37]:
l[-4:-1]      # -1 is index in reverse order

[5, 2, 'hello']

In [36]:
l[1:5:2]

[4, 6]

In [37]:
#compare
name='bipul'  #assign ment

name=='bipul'    #compare
name1="google"

if name=='rahul':
    print('hello') # indentatiton in python 1 tab or 4 spaces
    if name1=="google":
        print('google')
elif (name=='paven'):
    print('hello pavan')
else:
    print('no hello')

no hello

In [38]:
a=90
a>89    #comparison   these comaprison are helpful in if statemen

True

In [39]:
#==   >=          <=                    <>

a=10
a!=11

True

In [40]:
for i in range(0,5):
    print('helo',i)

helo 0
helo 1
helo 2
helo 3
helo 4

In [41]:
engine=['google','rediff','bing']
for i in range(len(engine)):
    print(engine[i],len(engine[i]))

google 6
rediff 6
bing 4

In [42]:
for i in engine:    # directly using variable name for controlling the loop 
    print(i,len(i))

google 6
rediff 6
bing 4

In [43]:
# function in python 
def printp():
    print('heloo')
printp()
printp()

heloo
heloo

In [44]:
#types of fxn 
# without parameter : output doesn't depend upon paRAMETER
# parameter based fxn :output depend upon parameter
#

In [45]:
def name(x):
    print('hello',x)

In [46]:
name('hello')
name(1)

hello hello
hello 1

In [47]:
def fxn(x,y):
    print(x+y)
    return x+y     # fxn is return type fxn

In [48]:
fxn("helo","world")

heloworld

'heloworld'

In [49]:
fxn (1,2) *2

3

6

In [50]:
i=1
while i<10:
  print(i)
  i=i+1
  if i==5:
   break

1
2
3
4

In [51]:
a=int(input("enter a value"))
type(a)

enter a value2

int